@model PRELIM_A2_BSIT_Cherry_Quiño.Models.Users

<h2>Add New User</h2>

<form asp-action="User" method="post">
    <p>Name: <input asp-for="Name" /></p>
    <button type="submit">Save</button>
</form>

<p><a href="/Library">Back to Library</a></p>
